.intro_section {
    min-height: 35vh;
    width: 40%;
    margin: auto;
    position: relative;
    bottom: 155px;
    background-color: #432b2b;
    border-radius: 1rem;
    color: white;
    padding: 0.5rem 1rem;
    text-align: center;
  }
  .intro_description {
    margin-top: 2rem;
    line-height: 1.5;
  }
  .intro {
    margin-top: 1rem;
  }
  