.modal_wrapper {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #6763638a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal {
  width: 60%;
  background-color: white;
  border-radius: 1rem;
  padding: 0.5rem 1rem;
}
.close_btn{
  padding: 0.5rem 1rem;
  margin-top: 0.5rem;
  border-radius: 1rem;
  background-color: brown;
  border: none;
  outline: none;
  cursor: pointer;
  color: white;
}